body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-plants-plant {
  margin: 3em;
}

.all-plants-img {
  max-height: 30em;
  max-width: 40em;
  width: 300px;
  height: 200px;
}

.single-plant-img {
  max-height: 30em;
  max-width: 50em;
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
