body {
  font-family: 'Walter Turncoat';
  margin: 0% 5% 5% 5%;
  background-color: #fdf4f1;
}

a {
  text-decoration: none;
  color: #885053;
}

label {
  display: block;
}

button #checkout-btn {
  padding: 1vh;
  background-color: #94c9a9;
  border: none;
  font-family: 'Walter Turncoat';
  color: white;
}

.all-plants-plant button {
  padding: 1vh;
  background-color: #94c9a9;
  width: 25%;
  color: white;
  font-size: 13px;
  border: none;
  font-family: 'Walter Turncoat';
  transition-duration: 0.4s;
}

.all-plants-plant button:hover {
  background-color: #adce98;
}

.single-plant button {
  padding: 1vw;
  background-color: #94c9a9;
  color: white;
  font-size: 13px;
  border: none;
  font-family: 'Walter Turncoat';
}

button:active {
  background-color: #fe5f55;
}

hr {
  color: #777da7;
}

nav a {
  display: inline-block;
  margin: 1em 1em 0em 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Berkshire Swash';
}

.header-left a {
  color: #3d292a;
}

.header img {
  width: 3vw;
}

.nav-link {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.nav-link p {
  visibility: hidden;
}

.nav-link:hover p {
  visibility: visible;
}

#logo {
  width: 6vw;
  height: 5vw;
}

.view {
  display: flex;
  flex-direction: row;
}

.all-plants-plant {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  padding: 10px;
  border-radius: 20px;
}

.all-plants-plant a {
  font-size: larger;
}

.all-plants-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-plants-img {
  max-height: 30em;
  max-width: 40em;
  width: 300px;
  height: 200px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pagination button {
  padding: 1vw;
  background-color: #323834;
  color: white;
  font-size: 13px;
  border: none;
  font-family: 'Walter Turncoat';
}

.single-plant {
  display: flex;
  flex-direction: row;
  flex-direction: nowrap;
  justify-content: space-between;
}

.single-plant-img {
  max-height: 30em;
  max-width: 50em;
  width: 400px;
  height: 400px;
  margin: 3%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-home-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 30rem;
  height: 10rem;
}

.submit {
  padding: 10px !important;
}

.checkout-plant-img {
  width: 10vw;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  max-width: 60vw;
  border-left: thin solid #c8a898;
  padding: 2vw;
}

.cart-icon img {
  width: 3vw;
}

.cart button {
  padding: 0.5vw;
  background-color: #94c9a9;
  color: white;
  font-size: 13px;
  border: none;
  font-family: 'Walter Turncoat';
  transition-duration: 0.4s;
}

.cart button:hover {
  background-color: #545f5c;
}

.checkout-item {
  margin-bottom: 5%;
}

.checkout-page {
  display: flex;
  flex-direction: row;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

#confirm-order-btn {
  width: 10em;
  margin-top: 3em;
  margin-left: 1.5em;
}

table,
td {
  border: thin solid #333;
  background-color: white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 1vh;
}

th {
  padding: 1vh;
}

tr {
  padding: 1vh;
  border-bottom: 1px solid #dddddd;
}

thead,
tfoot {
  padding: 2vh;
  background-color: rgb(54, 51, 51);
  color: #fff;
}
